{% extends 'base.html.twig' %}

{% block body %}
    
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xl-10 offset-xl-1">
        <div class="card">
            <div class="card-header">
                Ajouter une chanson
            </div>
            <div class="card-body">

            {{ form_start(form) }}
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ form_label(form.Nom) }}</label>
                    {{ form_widget(form.Nom, {'attr':{'class':'form-control', 'id':'nomLien', 'aria-describedby':'nomerror', 'placeholder':'Enter the name'}}) }}
                    <small id="nomerror" class="form-text text-muted">{{ form_errors(form.Nom) }}</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ form_label(form.Lien) }}</label>
                    {{ form_widget(form.Lien, {'attr':{'class':'form-control', 'id':'lien', 'aria-describedby':'link', 'placeholder':'Enter the link'}}) }}
                    <small id="link" class="form-text text-muted">{{ form_errors(form.Lien) }}</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div>
                    <small style="color: red">Attention, je n'ai pas encore implémenté de système qui vérifie si un lien existe déjà, j'ai passé assez de temps sur ces conneries de serveurs, je le ferai donc dans la semaine</small>
                </div>
            
            {{ form_end(form) }}                
            </div>
        </div>
    </div>
  </div>
</div>
    
{% endblock %}